@import '/src/assets/styles/variables';
@import '/src/assets/styles/functions';
@import '/src/assets/styles/mixins';

#banner {
	margin-top: 0 !important;

	overflow: hidden;

	.container {
		padding: 0 !important;

		.images {
			display: flex;

			.image {
				width: 100vw;
				height: 100vh;
			}
		}
	}
}
